### Importando arquivos

In [1]:
#importing csv file
import pandas as pd

In [3]:
csv_file = 'dados/alunos.csv'
alunos = pd.read_csv(csv_file)
alunos.head()

     Nome  Idade        Curso
0    João     22   Enfermagem
1   Maria     25  Biomedicina
2     Ana     20     Farmácia
3  Carlos     23     Medicina

In [4]:
#verificando o tipo de dado
alunos.dtypes

Nome     object
Idade     int64
Curso    object
dtype: object