### Importando arquivos CSV

In [ ]:
import pandas as pd# importing the pandas library

#importing the data
arquivo = "dados/arquivo_csv_virgula.csv" #path to the file
#pd.read_csv(arquivo) #reading the file

In [13]:
funcionario = pd.read_csv(arquivo)# reading the file
funcionario.head() #showing the first 5 lines of the file

,Nome Completo,Idade,Renda Mensal,Sexo,Cidade,Estado,Data de Nascimento
0,Jo達o da Silva,54,2.270,Feminino,S達o Paulo,SP,1970-06-15 22:19:00.037648
1,Maria Oliveira,80,5.147,Masculino,Rio de Janeiro,RJ,1944-06-15 10:19:00.037648
2,Pedro Santos,46,8.657,Masculino,Belo Horizonte,MG,1978-06-15 22:19:00.037648
3,Ana Costa,30,5.026,Feminino,Salvador,BA,1994-06-15 22:19:00.037648
4,Lucas Pereira,39,4.128,Masculino,Curitiba,PR,1985-06-15 16:19:00.037648

In [14]:
funcionario.dtypes #showing the data types of the columns

Nome Completo          object
Idade                   int64
Renda Mensal          float64
Sexo                   object
Cidade                 object
Estado                 object
Data de Nascimento     object
dtype: object